/* .cart{
  border: 2px solid hsl(0, 0%, 81%);
  border-radius: 10px;
  box-shadow: 5px 5px  2px hsl(0, 0%, 0%, 0.1);
  display: inline-block;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.cart .cart-img{
  border: 2px solid rgb(255, 255, 255);
  background-color:rgb(243, 233, 219);
  border-radius: 50%;
  padding: 10px;
}

.cart .cart-head{
  font-size: 30px;
  font-family: Arial;
}

.cart .cart-text{
  font-size: 15px;
  font-family: Arial;
} */


/* .student{
  display: inline-block;
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
} */


/* .welcome{
  font-size: 2.5em;
  background-color: rgb(2, 182, 122);
  display: inline-block;
  padding: 5px;
  margin: 0px;
  border-radius: 5px;
}

.login{
  font-size: 2.5em;
  background-color: rgb(182, 29, 2);
  display: inline-block;
  padding: 5px;
  margin: 0px;
  border-radius: 5px;
} */

/* .main{
  border: 2px solid black;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.heading{
  background-color: rgb(0, 122, 31);
  border-radius: 5px;
  color: wheat;
}

.list-item li{
  text-align: center;
  font-family: Arial;
} */


/* body{
  font-family: Arial, sans-serif;
}

.color-picker-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 3em;
  margin: 50px;
}

.color-picker-display{
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  transition: 0.25s ease;
  margin-bottom: 20px;
}

.color-picker-display p{
  color: hsl(0, 0%, 20%);
  font-size: 2em;
  text-align: center;
}

label{
  font-size: 1.5em;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 35px;
  padding: 3px;
  border: 2px solid hsl(0, 0%, 80%);
  border-radius: 5px;
} */

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
}

h2{
  font-size: 3rem;
}

input[type="text"], button{
  font-size: 1.3rem;
  border: none;
  border: 2px solid hsl(0, 0%, 80%);
  padding: 5px;
  border-radius: 5px;
}

ol{
  padding: 0;
}

li{
  display: flex;
  align-items: center;
}